# Copy to terraform.tfvars and adjust.

assume_role_arn = "arn:aws:iam::ACCOUNT_ID:role/PLATFORM_ADMIN_ROLE"
aws_region      = "eu-central-1"
environment     = "dev"

vpc_cidr              = "10.0.0.0/16"
secondary_cidr_blocks = ["100.64.0.0/16"]
availability_zones    = ["eu-central-1a", "eu-central-1b"]

private_subnets    = ["10.0.31.0/24", "10.0.32.0/24"]
public_subnets     = ["10.0.131.0/24", "10.0.132.0/24"]
eks_worker_subnets = ["100.64.0.0/20", "100.64.16.0/20"]

# Dev: single NAT gateway to save cost
one_nat_gateway_per_az = false
single_nat_gateway     = true
enable_vpn_gateway     = true
